

/*TABLE OF CONTENTS
1. HOMEPAGE
2. CITIES
3. UNIVERSAL
4. FOOTER
*/

/*1. HOMEPAGE
========================*/

#mainWell h2{

font-size: 48px;
font-family:'Lobster', cursive;
color:#000;
text-align:center;
padding-bottom: 20px
}

#mainWell {
	width: 70%;
	text-align: center;
	height: 250px;
	max-width: 600px;
	margin:auto;
}

#top {
	font-size: 72px;
	font-family: 'Lobster', cursive;
	color: #FFFFFF;
	text-shadow:1px 1px black;
	text-align: center;
	padding-bottom: 40px

}


/*2. CITIES
========================*/

.cityName:hover {
	-ms-transform: translate(3px, 0px); 
    -webkit-transform: translate(3px, 0px); 
    transform: translate(3px, 0px);
}

.cityName {
	font-size: 72px;
	font-family: 'Lobster', cursive;
	color: #FFFFFF;
	text-shadow:1px 1px black;
	text-align: center;
	padding-bottom: 40px
}

.btn{
	width: 140px;
	text-align: center;
	display: inline-block
}

.btnCity {
	padding:0;
	margin:0;

}

label {
	color: black;
	font-size: 20px
}

legend {
	font-size: 40px;
	text-shadow: 1px 1px yellow;
}

form input {
	color: black;
	font-weight: 900
}

 h3 {
	text-align: center;
	font-weight: 800
}

#total {
	font-weight: 900;
	font-size: 30px
}



/*3. UNIVERSAL
========================*/

#cities{
	position: fixed;
	background-color: #00b4ae;
	height: 100%;
	width: 100%;
	padding:30px 50px;
	font-family: 'Ubuntu', sans-serif;
	overflow: scroll
}



a:link {
	text-decoration: none
}


/*4. FOOTER
========================*/

#disclaimer {
	padding-top: 40px;
	color: black;
	text-align: center
}

footer {
	text-align: center;
	color: black
}

footer h2 span {
	font-family:'Lobster', cursive;
}

